{% extends "plantilla.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <br>
            <h2 style="text-align: center;">Nuevo Votante</h2>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form action="{% url 'crearVotante' %}" method="POST">
                {% csrf_token %}
                <label for="ci">Cédula:</label>
                <input type="text" name="ci" class="form-control" placeholder="Ingrese su N° de cédula" required>
                <br>

                <label for="nombre">Nombre y Apellido:</label>
                <input type="text" name="nombre" class="form-control" placeholder="Ingrese su Nombre y Apellido" required>
                <br>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="{% url 'inicio' %}" class="btn btn-outline-secondary">Volver</a>
                </div>
            </form>
            <br><br>
        </div>
    </div>
</div>
{% endblock %}
