{% extends "./plantilla.html" %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <br>
            <h2 style="text-align: center;">Editar Cargo y Candidato</h2>
            <div class="container">
                <form action="{% url 'editarCargo' cargo.id %}" method="POST" enctype="multipart/form-data" id="frm_editar_cargo">
                    {% csrf_token %}
                    <div>
                        <label for="cargo">Cargo:</label>
                        <select name="cargo" id="cargo" class="form-control" required>
                            <option value="0" disabled {% if not cargo %}selected{% endif %}>SELECCIONE EL CARGO</option>
                            <option value="Presidente" {% if cargo.cargo == 'Presidente' %}selected{% endif %}>Presidente</option>
                            <option value="Vicepresidente" {% if cargo.cargo == 'Vicepresidente' %}selected{% endif %}>Vicepresidente</option>
                            <option value="Secretario" {% if cargo.cargo == 'Secretario' %}selected{% endif %}>Secretario</option>
                            <option value="Tesorero" {% if cargo.cargo == 'Tesorero' %}selected{% endif %}>Tesorero</option>
                            <option value="1er Vocal Principal" {% if cargo.cargo == '1er Vocal Principal' %}selected{% endif %}>1er Vocal Principal</option>
                            <option value="2do Vocal Principal" {% if cargo.cargo == '2do Vocal Principal' %}selected{% endif %}>2do Vocal Principal</option>
                            <option value="3er Vocal Principal" {% if cargo.cargo == '3er Vocal Principal' %}selected{% endif %}>3er Vocal Principal</option>
                            <option value="1er Vocal Suplente" {% if cargo.cargo == '1er Vocal Suplente' %}selected{% endif %}>1er Vocal Suplente</option>
                            <option value="2do Vocal Suplente" {% if cargo.cargo == '2do Vocal Suplente' %}selected{% endif %}>2do Vocal Suplente</option>
                            <option value="3er Vocal Suplente" {% if cargo.cargo == '3er Vocal Suplente' %}selected{% endif %}>3er Vocal Suplente</option>
                        </select>
                    </div>
                    <br>
                    <div>
                        <label for="nombre">Nombres y Apellidos:</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" value="{{ cargo.nombre }}" placeholder="Ingrese los nombres y apellidos" required>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                    <a href="{% url 'listarCargos' %}" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $("#frm_editar_cargo").validate({
        rules: {
            cargo:{
                required: true
            },
            nombre:{
                required: true
            },
        },
        messages:{
            cargo:{
                required: "Seleccione un cargo"
            },
            nombre:{
                required: "Ingrese el nombre y apellido del candidato (Opcional 2 nombres y 2 apellidos)"
            },
        }
    });
</script>

{% endblock %}
