{% extends "./plantilla.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <br>
            <h2 style="text-align: center;">Editar Lista</h2>
            <div>
                <!-- Bloque para mostrar mensajes -->
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <form action="{% url 'editarLista' lista.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <label for="nombre">Nombre de la Lista:</label>
                    <input type="text" name="nombre" id="nombre" class="form-control" value="{{ lista.nombre }}" required>
                    <br>
                    
                    <label for="color">Color de la Lista:</label>
                    <input type="text" name="color" id="color" class="form-control" value="{{ lista.color }}" required>
                    <br>
                    
                    <label for="numero">Número de la Lista:</label>
                    <input type="text" name="numero" id="numero" class="form-control" value="{{ lista.numero }}" required>
                    <br>
                    
                    <label for="foto">Foto de la Lista:</label>
                    <input type="file" name="foto" id="foto" class="form-control" accept="image/png, image/jpeg, image/jpg">
                    <br>
                    
                    <h4>Candidatos Actuales</h4>
                    <div id="candidatos-container">
                        {% for candidato in candidatos %}
                        <div class="candidato-item">
                            <label>Nombre del Candidato:</label>
                            <input type="text" name="candidatos[{{ candidato.id }}][nombre]" class="form-control" value="{{ candidato.nombre }}" required>
                            <label>Rol:</label>
                            <select name="candidatos[{{ candidato.id }}][rol]" class="form-control">
                                {% for key, value in lista.ROLES %}
                                <option value="{{ key }}" {% if candidato.rol == key %}selected{% endif %}>{{ value }}</option>
                                {% endfor %}
                            </select>
                            <br>
                        </div>
                        {% endfor %}
                    </div>
                    
                    <h4>Agregar Nuevo Candidato</h4>
                    <div>
                        <label>Nombre:</label>
                        <input type="text" name="candidatos[new][nombre]" class="form-control">
                        <label>Rol:</label>
                        <select name="candidatos[new][rol]" class="form-control">
                            <option value="" selected>Seleccione un rol</option>
                            {% for key, value in lista.ROLES %}
                            <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                        <br>
                    </div>
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="{% url 'listarListas' %}" class="btn btn-outline-secondary">Volver</a>
                    </div>
                </form>
                
                <br><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}
