{% extends "./plantilla.html" %}
{% load static %}
{% block body %}

<br>
<h1 class="text-center">Realizar mi Voto</h1>
<br>
<div class="container bg-ligth">
    <div class="row">
        <div class="col-11.5 text-center">
            <img src="{% static 'img/eleccion.gif' %}" width="200" height="200">
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <a href="{% url 'verListas' %}" class="btn btn-outline-info"><i class="fa-solid fa-check"></i> Votar </a>
        </div>
        <div class="col-4 text-center"></div>
    </div>
</div>
<br>
{% endblock %}