{% extends "./plantilla.html" %}
{% load static %}
{% block body %}

<br>
<h1 class="text-center">ELECCIONES 2024</h1>
<br>
<div class="container bg-ligth">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <h3>Democracia</h3>
            <br>
            <h6>
                La democracia es una forma de organización social y política presentada
                en el platonismo y aristotelismo que atribuye la titularidad del poder
                al conjunto de la ciudadanía. En sentido estricto, la democracia es un
                tipo de organización del Estado en el cual las decisiones colectivas son
                adoptadas por el pueblo mediante herramientas de participación directa o
                indirecta que confieren legitimidad a sus representantes.
            </h6>
        </div>
        <div class="col-4 text-center"></div>
    </div>
</div>
<br>

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <a href="#"><i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i></a>
                        <h5 class="mb-3">Skilled Instructors</h5>
                        <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <a href="#"><i class="fa fa-3x fa-globe text-primary mb-4"></i></a>
                        <h5 class="mb-3">Online Classes</h5>
                        <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <a href="#"><i class="fa fa-3x fa-home text-primary mb-4"></i></a>
                        <h5 class="mb-3">Home Projects</h5>
                        <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <a href="#"><i class="fa fa-3x fa-book-open text-primary mb-4"></i></a>
                        <h5 class="mb-3">Book Library</h5>
                        <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Service End -->
  <br>

{% endblock %}