{% extends "./plantillaAdmin.html" %}

{% block body %}
<br>
<div class="card">
    <div class="card-title text-center">
        <h3><b>LISTA DE VOTANTES</b></h3>
    </div>
</div>
<br>
<div class="text-center">
    <a href="{% url 'paginaAdmin' %}" class="btn btn-outline-info"><i class="fas fa-arrow-left"></i> Regresar</a>
    <a href="{% url 'generar_pdf_votantes' %}" class="btn btn-outline-success">
        <i class="fas fa-file-pdf"></i> Descargar PDF
    </a>
</div>
<br>
<div class="text-center">
    <p><strong>Total de Votantes: {{ votantes|length }}</strong></p>
</div>    

<div class="text-center">
    <form method="POST" action="{% url 'eliminar_todos_los_votantes' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" onclick="return confirm('¿Está seguro de eliminar a todos los Votantes?')">
            Eliminar Todos los Votantes
        </button>
    </form>
</div>

<div class="container">
    <table class="table table-bordered table-striped" id="tbl-votantes" style="width: 50%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>CI</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for votante in votantes %}
            <tr>
                <td>{{ votante.id }}</td>
                <td>{{ votante.ci }}</td>
                <td>{{ votante.nombre }}</td>
                <td>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-delete-url="{% url 'eliminarVotante' votante.id %}">
                        <i class="fa-regular fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea eliminar este votante?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a href="#" id="confirmDeleteButton" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
</div>

<!-- Script de eliminación -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var deleteModal = document.getElementById('confirmDeleteModal');
        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var deleteUrl = button.getAttribute('data-delete-url');
            var confirmDeleteButton = document.getElementById('confirmDeleteButton');
            confirmDeleteButton.setAttribute('href', deleteUrl);
        });
    });
</script>

<script>
    let table = new DataTable('#tbl-votantes');
</script>
{% endblock %}
