{% extends "./plantillaAdmin.html" %}
{% load static %}
{% block body %}

<br><br><br><br>
<h1 class="text-center">Bienvenido Administrador</h1>
<div class="text-center">
    <a href="{% url 'listarAdmin' %}" class="btn btn-outline-info"><i class="fa-solid fa-eye"></i> Ver Administradores</a>
    &nbsp;&nbsp;
    <a href="{% url 'inicio' %}" class="btn btn-outline-danger"><i></i> Salir</a>
</div>

<hr>
<div class="container">
    <div class="row text-center">
        <div class="col-4">
            <a href="{% url 'listarListas' %}">
                <img src="{% static 'img/lista.png' %}" class="img-fluid" alt="Imagen Votantes">
                <br><br>
                <h4>Listas Por Nombre</h4>
            </a>
        </div>
        <div class="col-4">
            <a href="{% url 'verListas' %}">
                <img src="{% static 'img/votosTotales.png' %}" class="img-fluid" alt="Imagen Votos">
                <br><br>
                <h4>Votos</h4>
            </a>
        </div>
        <div class="col-4">
            <a href="{% url 'listarVotantes' %}">
                <img src="{% static 'img/verVotos.png' %}" class="img-fluid" alt="Imagen Votantes">
                <br><br>
                <h4>Votantes</h4>
            </a>
        </div>
    </div>
</div>
<br>
{% endblock %}



        