{% extends "./plantilla.html" %}
{% block body %}
<br>
<div class="card">
    <div class="card-title text-center">
        <h3><b>CANDIDATOS</b></h3>
    </div>
</div>
<br>
<div class="text-center">
    <a href="{% url 'crearVoto' %}" class="btn btn-outline-info"><i class="fas fa-plus"></i> Realizar Voto</a>
</div>
<br>

<!-- Estilo para poner las tarjetas en filas de dos -->
<style>
    .card-container {
        display: flex;
        flex-wrap: wrap; /* Para ajustar a la siguiente fila si es necesario */
        gap: 20px; /* Espacio entre las tarjetas */
        justify-content: center; /* Centrar las tarjetas en la fila */
    }

    .card {
        flex: 1 1 45%; /* Cada tarjeta ocupará el 45% del ancho disponible, dejando espacio entre ellas */
        margin-bottom: 20px;
    }

    .table img {
        width: 100px;
        height: 100px;
    }

    @media (max-width: 768px) {
        .card {
            flex: 1 1 100%; /* En pantallas pequeñas, las tarjetas ocuparán el 100% del ancho */
        }
    }
</style>

<div class="container card-container">
    {% for cargo, candidatos in candidatos_por_cargo.items %}
        <div class="card">
            <div class="card-header text-center">
                <h4>{{ cargo }}</h4> <!-- Mostrar el nombre del cargo (Presidente, Vicepresidente, etc.) -->
            </div>
            <table class="table table-bordered table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th>CI</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Foto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for candidato in candidatos %}
                        <tr>
                            <td>{{ candidato.ci }}</td>
                            <td>{{ candidato.nombre }}</td>
                            <td>{{ candidato.apellido }}</td>
                            <td>
                                {% if candidato.foto %}
                                    <img src="{{ candidato.foto.url }}" alt="Foto del candidato">
                                {% else %}
                                    No hay foto disponible
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>

{% endblock %}
