{% extends "plantillaAdmin.html" %}

{% block body %}
<br><br><br><br>
<div class="container">
    <h2 class="text-center">Listas de Votación</h2>
    <div class="text-center">
        <a href="{% url 'paginaAdmin' %}" class="btn btn-outline-info"><i class="fas fa-arrow-left"></i> Regresar</a>
    </div>
    <br>
    <div class="row">
        {% for lista in listas %}
            <div class="col-md-6 mb-6">
                <div class="card h-100">
                    <div class="card-header text-center">
                        <h4 class="card-title">{{ lista.nombre }}</h4>
                        <h6 class="card-title">Lista N°: {{ lista.numero }}</h6>
                    </div>
                    <div class="card-body">
                        <h5 class="text-center">Votantes</h5>
                        <table class="table table-bordered table-striped table-hover text-center">
                            <thead>
                                <tr>
                                    <th>Cédula</th>
                                    <th>Nombre y Apellido</th>
                                    <th>Fecha del Voto</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for voto in lista.votos.all %}
                                    <tr>
                                        <td>{{ voto.votante.ci }}</td> 
                                        <td>{{ voto.votante.nombre }}</td> 
                                        <td>{{ voto.fecha }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="4">No hay votos registrados para esta lista.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="alert alert-warning" role="alert">
                No hay listas disponibles.
            </div>
        {% endfor %}
    </div>
</div>

<br><br>

{% endblock %}
